body {
  color: #eee;
  font-family: Monospace;
  font-size: 13px;
  text-align: center;
  background-color: #000;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  h1{
    color:red;
    font-size:40px;
  }
}

a {
  color: #0080ff;
}


